Source: co2mon-ha-mqtt
Maintainer: Serge Tkatchouk <sp1j3t@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), libusb-dev, pkg-config, libusb-1.0-0-dev, libmosquitto-dev

Package: co2mon-ha-mqtt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libusb-1.0-0, libmosquitto1
Description: HomeAssistant MQTT driver for MasterKit MT8057 CO2 sensor
